.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  
    video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
  
    .hero-overlay {
      position: relative;
      z-index: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.5); // opacidad opcional
  
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
  
      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }
  
      .cta-button {
        background-color: #d4ff00; // color llamativo como Robinhood
        color: #000;
        font-weight: bold;
        font-size: 1rem;
        padding: 0.75rem 2rem;
        border: none;
        border-radius: 999px; // forma pastilla
        cursor: pointer;
        transition: background-color 0.3s ease;
      
        &:hover {
            background-color: #b0e600;
        }
      }
      
    }
  }
  