<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center">
    <img src="assets/logo.png" alt="RACO" height="38" style="margin-right: 20px;">
    <a mat-button routerLink="inicio" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
    <a mat-button routerLink="contratos" routerLinkActive="active-link">Contratos SECOP</a>
    <a mat-button routerLink="chatbot" routerLinkActive="active-link">Chatbot IA</a>
    <a mat-button routerLink="notificaciones" routerLinkActive="active-link">Notificaciones</a>
  </div>

  <div fxLayout="row" fxLayoutGap="16px" class="user-area">
    <button mat-button [matMenuTriggerFor]="menuUsuario" class="user-btn">
      <mat-icon>account_circle</mat-icon>
      <span class="username">{{ nombreUsuario }}</span>
    </button>
    <mat-menu #menuUsuario="matMenu" class="dark-menu">
      <button mat-menu-item routerLink="perfil">
        <mat-icon>person</mat-icon>
        Perfil
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
